*{
  margin:0;
  padding:0;
}
body{
	width:100%;
	margin:auto;
	background:#4c0101;
	}
#login_top{
	width:522px;
	height:209px;
	background:url(../images/login_top.png) no-repeat;
	margin:auto;
	margin-top:150px;
	}
#login_bg{
	width:522px;
	height:90px;
	background:url(../images/login_bg.png) repeat-y;
	margin:auto;
}
#login_foot{
	width:522px;
	height:22px;
	background:url(../images/login_foot.png) repeat-y;
	margin:auto;
}
#login_inst{
	width:170px;
	height:auto;
	float:left;
	padding-left:90px;
}
#login_user{
	width:170px;
	height:21px;
	font-size:12px;
	font-weight:bold;
	color:#555555;
	line-height:21px;
	padding-top:10px;
}
.login_input{
	width:105px;
	height:20px;
	line-height:20px;
}
#login_btn{
	width:62px;
	height:55px;
	float:left;
	margin-top:10px;
}
#login_link{
	display:block;
	width:62px;
	height:55px;
	background:url(../images/login_btn.gif) no-repeat;
}
#login_link:hover{background:url(../images/login_btn_b.gif) no-repeat;}